table {
  border-collapse: collapse;
  overflow: auto;
  width: 90vw;
}

th {
  background-color: rgb(199, 199, 199);
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #d6eeee;
}

table tr:hover {
  background-color: #f1f1f1;
}

td input[type="button"] {
  color: white;
  border: none;
  border-radius: 0.2rem;
  width: 3rem;
  height: 1.5rem;
}

#view-btn {
  background-color: #5780f2;
}

#delete-btn {
  background-color: #d93030;
}

#edit-btn {
  background-color: #d99030;
}

#menu-btn {
  background-color: #6C757D;

  color: white;
  border: none;
  border-radius: 0.2rem;
  height: 2rem;
  margin: 1rem 0;
}

.tx-id {
  font-weight: bold;
}

.action-cell {
  display: flex;
  justify-content: space-around;
  align-items: center;
}